################################################################################
#
# Example configuration file
#
################################################################################

[DEFAULT]
base_dir: /srv
bin_dir: %(base_dir)s/bin

[follower]
FrobTimeout: 5
max_build_time: 200
builder_command: %(bin_dir)s/build
log_dir: %(base_dir)s/logs
TableName: MyCaseSensitiveTableName

[whitespace]
foo = bar
